{% extends "layout.njk" %}

{% block content %}
  <h1>Welcome to the VideoGame Database!</h1>
  <p>What do you want to look at?</p>
  <ul>
    <li>
      <a href="/games">Video games</a>
    </li>
    <li>
      <a href="/platforms">Game platforms</a>
    </li>
  </ul>
{% endblock %}
