<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/styles/main.css" />
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    {% block title %}
      <title>Games Database</title>
    {% endblock %}
    {% block css %}{% endblock %}
  </head>
  <body>
    <div>
      <ul>
        <li><a href="/games">Games</a></li>
        <li><a href="/platforms">Platforms</a></li>
      </ul>
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
